<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:y="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui">
    <h:head>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://apis.google.com/js/plusone.js" type="text/javascript"></script>
        <h:outputScript library="js" name="logout.js" />

        <!-- Latest compiled and minified CSS -->
        <h:outputStylesheet library="css" name="bootstrap.min.css" />
        <!-- Optional theme -->
        <h:outputStylesheet library="css" name="bootstrap-theme.min.css"/>
        <!-- Tema persnalizado-->
        <h:outputStylesheet library="css" name="xStyle.css" />
        
        <h:outputStylesheet library="css" name="group.css"/>
        <title>New Group</title>
    </h:head>
    <h:body>
        <h:panelGroup layout="block" class="body">
            <h:panelGroup layout="block" class="img-kiwi-fondo">
            <nav class="navbar navbar-default navbar-kiwi navbar-fixed-top">
                <h:panelGroup layout="block" class="container">
                    <h:panelGroup layout="block" class="navbar-header">
                        <h:form>
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <h:panelGroup class="sr-only">Toggle navigation</h:panelGroup>
                                <h:panelGroup class="icon-bar"></h:panelGroup>
                                <h:panelGroup class="icon-bar"></h:panelGroup>
                                <h:panelGroup class="icon-bar"></h:panelGroup>
                            </button>
                            <h:commandLink action="#{loginBean.cargarUsuarioLogueado()}" class="navbar-brand" title="home"><p:graphicImage class="kiwi-nav" library="img" name="kiwi-home.png" title="#{msg['Inicio']}"/></h:commandLink>
                        </h:form>
                    </h:panelGroup>
                    <h:panelGroup layout="block" id="navbar" class="navbar-collapse collapse aumentar-nav">
                        <ul class="nav navbar-nav aumentar-ul">
                            <li class="active">
                                <h:form>
                                    <h:commandLink class="navbar-brand active" value="#{msg['home']}" action="#{loginBean.cargarUsuarioLogueado()}"/>
                                </h:form>   
                            </li>
                            <li><h:form><h:commandLink class="navbar-brand" value="#{msg['NewGroup']}" action="#{newGroupBean.init()}" /></h:form></li>
                            <li class="dropdown">
                                <a outcome="#" class="dropdown-toggle boton-grupos-kiwi" data-toggle="dropdown" role="button" aria-expanded="false">#{msg['Grupos']}<h:panelGroup class="caret"></h:panelGroup></a>
                                <ul class="dropdown-menu" role="menu">
                                    <h:form>
                                        <li><h:commandLink  class="list-group-item" value="#{msg['Privado']}" action="#{commentBean.doComment()}">
                                                <f:param name="groupselect" value="privado"/>
                                            </h:commandLink></li>
                                        <li> <h:commandLink class="list-group-item" value="#{msg['Publico']}" action="#{commentBean.doComment()}">
                                                <f:param name="groupselect" value="publico"/>
                                            </h:commandLink></li>
                                        <ui:repeat var="group" value="#{userBean.user.groupsUser}">
                                            <li><h:commandLink  class="list-group-item" value="#{group}" action="#{commentBean.doComment()}">
                                                    <f:param name="groupselect" value="#{group}"/>
                                                </h:commandLink></li>
                                        </ui:repeat>
                                    </h:form>
                                </ul>
                            </li>
                            <h:form class="navbar-form navbar-left" role="search">
                                <h:panelGroup class="form-group">
                                    <h:inputText value="#{userBean.userABuscar}" class="form-control" y:placeholder="#{msg['Buscar']}"/>
                                </h:panelGroup>
                                <h:commandButton value="#{msg['Buscar']}" class="btn btn-default" action="#{userBean.irAPanelUserBuscador()}"/>
                            </h:form>
                            <li class="nav navbar-nav navbar-right nav-padding-top">
                                <h:form id="formDeslog">
                                    <h:inputText id="token" value="#{loginBean.token}" styleClass="ocultar"/>
                                    <h:commandButton class="btn btn-default" value="Log Out" onclick="quitarPermisos()" action="#{userBean.cerrarSesion()}"/>
                                </h:form> 
                            </li>
                             <li class="nav navbar-nav nav-padding-top">
                                <div >  
                                    <h:form >
                                        <h:panelGrid columns="2"> 
                                            <h:selectOneMenu class="btn btn-default" onchange="submit()"
                                                              valueChangeListener="#{LanguageBean.localeChanged}">
                                                <f:selectItems value="#{LanguageBean.countries}" /> 
                                            </h:selectOneMenu> 

                                        </h:panelGrid> 
                                    </h:form>
                                </div>
                            </li>
                        </ul>
                    </h:panelGroup><!--/.nav-collapse -->
                </h:panelGroup>
            </nav>
            <h:panelGroup layout="block" class="container container-kiwi">
                <ui:fragment rendered="#{loginBean.token == null}">
                    <h:link outcome="login" class="btn btn-kiwi btn-logeate">Logeate</h:link>
                </ui:fragment>
                <ui:fragment rendered="#{loginBean.token!= null}">
                    <h:panelGroup layout="block" class="row">
                        <h:panelGroup layout="block" class="col-md-2">
                            <h:graphicImage value="#{loginBean.usuarioLogueado.photo}" title="avatar-kiwi" class="img-circle avatar-kiwi" width="80px"/>
                            <h3> <p class="text-center">#{loginBean.usuarioLogueado.firstname} #{loginBean.usuarioLogueado.lastname}</p></h3>
                        </h:panelGroup>
                        <h:panelGroup layout="block" class="col-md-6">
                            <h:panelGroup layout="block" class="row">
                                <h:panelGroup layout="block" class="col-md-12">
                                    <h:panelGroup layout="block" class="jumbotron-kiwi">
                                        <f:view>
                                            <h:form>
                                                <h:panelGroup layout="block" class="row">
                                                    <h:panelGroup layout="block" class="col-md-3">
                                                        <h:outputLabel class="label-name" >#{msg['Grupname']}:</h:outputLabel>
                                                    </h:panelGroup>
                                                    <h:panelGroup layout="block" class="col-md-9">
                                                        <h:inputText class="form-control"  value="#{newGroupBean.name}"/><br/>
                                                        <h:outputText style="color:red; font-size: 120%" value="#{newGroupBean.errorNombre}" />
                                                    </h:panelGroup>
                                                </h:panelGroup>
                                                <h:panelGroup layout="block" class="row">
                                                    <h:panelGroup layout="block" class="col-md-3">
                                                        <h:outputLabel class="label-name">#{msg['Searchuserbyname']}:</h:outputLabel>
                                                    </h:panelGroup>
                                                    <h:panelGroup layout="block" class="col-md-9">
                                                        <h:panelGroup layout="block" class="input-group div-foto-kiwi">
                                                            <h:inputText class="form-control" id="inputFilter" value="#{newGroupBean.nameFilter}"/>
                                                            <h:panelGroup class="input-group-btn" id="sizing-addon3">
                                                                <h:commandButton class="btn btn-default" value="#{msg['Filterusers']}">
                                                                    <f:ajax execute="inputFilter" render="left" listener="#{newGroupBean.filterUsers}"/>
                                                                </h:commandButton>
                                                            </h:panelGroup>
                                                        </h:panelGroup>
                                                    </h:panelGroup>
                                                    <h:panelGroup layout="block" class="col-md-3">

                                                    </h:panelGroup>
                                                </h:panelGroup>
                                                <h:panelGroup layout="block" class="row">
                                                    <h:panelGroup layout="block" class="col-md-12">
                                                        <h:panelGroup layout="block" class="row">
                                                            <h:panelGroup layout="block" class="col-md-6">
                                                                <h:outputLabel class="label-name">#{msg['Selectthemembers']}:</h:outputLabel>
                                                            </h:panelGroup>
                                                        </h:panelGroup>
                                                        <h:panelGroup layout="block" class="row">
                                                            <h:panelGroup layout="block" class="col-xs-5">
                                                                <h:selectManyListbox class="form-control listas" id="left" value="#{newGroupBean.candidatesSelected}">
                                                                    <f:selectItems value="#{newGroupBean.candidatesAvailable}" var="candidate" 
                                                                                   itemLabel="#{candidate.firstName}" itemValue="#{candidate.email}" />
                                                                    <f:ajax event="dblclick" render="left right" listener="#{newGroupBean.leftToRight}" />
                                                                </h:selectManyListbox>
                                                            </h:panelGroup>
                                                            <h:panelGroup layout="block" class="col-xs-2">
                                                                <h:panelGroup layout="block" class="row botones-flecha">
                                                                    <h:commandButton class="btn btn-default" value="&rarr;" alt="#{msg['Addselectedtomembers']}">
                                                                        <f:ajax execute="left" render="left right" listener="#{newGroupBean.leftToRight}" />
                                                                    </h:commandButton>
                                                                </h:panelGroup>
                                                                <h:panelGroup layout="block" class="row botones-flecha">
                                                                    <h:commandButton class="btn btn-default" value="&larr;" alt="#{msg['Removeselectedfrommembers']}">
                                                                        <f:ajax execute="right" render="left right" listener="#{newGroupBean.rightToLeft}" />
                                                                    </h:commandButton>
                                                                </h:panelGroup>
                                                            </h:panelGroup>
                                                            <h:panelGroup layout="block" class="col-xs-5">
                                                                <h:selectManyListbox class="form-control listas" id="right" value="#{newGroupBean.membersSelected}" >
                                                                    <f:selectItems value="#{newGroupBean.membersAvailable}" var="member" 
                                                                                   itemLabel="#{member.firstName}" itemValue="#{member.email}"/>
                                                                    <f:ajax event="dblclick" render="left right" listener="#{newGroupBean.rightToLeft}" />
                                                                </h:selectManyListbox>
                                                            </h:panelGroup>
                                                        </h:panelGroup>
                                                        <h:panelGroup layout="block" class="row">
                                                            <h:panelGroup layout="block" class="col-md-12">
                                                                <h:commandButton class="btn btn-lg btn-info btn-kiwi btn-twit-kiwi btn-create-group" value="#{msg['Creategroup']}" action="#{newGroupBean.createGroup()}"/>
                                                            </h:panelGroup>
                                                        </h:panelGroup>
                                                    </h:panelGroup>
                                                </h:panelGroup>
                                            </h:form>
                                        </f:view>
                                    </h:panelGroup>
                                </h:panelGroup>
                            </h:panelGroup>
                        </h:panelGroup>
                    </h:panelGroup>
                </ui:fragment>
            </h:panelGroup>
                
            <footer class="footer">

                <h:panelGroup layout="block" class="container">

                    <p class="text-muted">Place sticky footer content here.</p>

                </h:panelGroup>

            </footer>

            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <h:outputScript  library="js" name="jquery-1.11.2.min.js"  />
            <!-- Latest compiled and minified JavaScript. Include all compiled plugins (below), or include individual files as needed -->
            <h:outputScript library="js" name="bootstrap.min.js" />
            <!--Para el file inputd-->
            <h:outputScript library="js" name="jquery-1.11.0.min.js" />
            </h:panelGroup>
        </h:panelGroup>
    </h:body>
</html>

