<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:y="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://apis.google.com/js/plusone.js" type="text/javascript"></script>
        <h:outputScript library="js" name="logout.js" />

        <!-- Latest compiled and minified CSS -->
        <h:outputStylesheet library="css" name="bootstrap.min.css" />
        <!-- Optional theme -->
        <h:outputStylesheet library="css" name="bootstrap-theme.min.css"/>
        <!-- Tema persnalizado-->
        <h:outputStylesheet library="css" name="xStyle.css" />

        <h:outputStylesheet library="css" name="group.css"/>
        <title>Group Info</title>
    </h:head>
    <h:body>
        <h:panelGroup layout="block" class="body">
            <h:panelGroup layout="block" class="img-kiwi-fondo">
            <nav class="navbar navbar-default navbar-kiwi navbar-fixed-top">
                <h:panelGroup layout="block" class="container">
                    <h:panelGroup layout="block" class="navbar-header">
                        <h:form>
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <h:panelGroup class="sr-only">Toggle navigation</h:panelGroup>
                                <h:panelGroup class="icon-bar"></h:panelGroup>
                                <h:panelGroup class="icon-bar"></h:panelGroup>
                                <h:panelGroup class="icon-bar"></h:panelGroup>
                            </button>
                            <h:commandLink action="#{loginBean.cargarUsuarioLogueado()}" class="navbar-brand" title="home"><p:graphicImage class="kiwi-nav" library="img" name="kiwi-home.png" title="#{msg['home']}"/></h:commandLink>
                        </h:form>
                    </h:panelGroup>
                    <h:panelGroup layout="block" id="navbar" class="navbar-collapse collapse aumentar-nav">
                        <ul class="nav navbar-nav aumentar-ul">
                            <li class="active">
                                <h:form>
                                    <h:commandLink class="navbar-brand" value="#{msg['home']}" action="#{loginBean.cargarUsuarioLogueado()}"/>
                                </h:form>   
                            </li>
                            <li><h:form><h:commandLink class="navbar-brand" value="#{msg['NewGroup']}" action="#{newGroupBean.init()}" /></h:form></li>
                            <li class="dropdown">
                                <a outcome="#" class="boton-grupos-kiwi dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">#{msg['Grupos']}<h:panelGroup class="caret"></h:panelGroup></a>
                                <ul class="dropdown-menu" role="menu">
                                    <h:form>
                                        <li><h:commandLink  class="list-group-item" value="#{msg['Privado']}" action="#{commentBean.doComment()}">
                                                <f:param name="groupselect" value="privado"/>
                                            </h:commandLink></li>
                                        <li> <h:commandLink class="list-group-item" value="#{msg['Publico']}" action="#{commentBean.doComment()}">
                                                <f:param name="groupselect" value="publico"/>
                                            </h:commandLink></li>
                                        <ui:repeat var="group" value="#{loginBean.usuarioLogueado.groupsUser}">
                                            <li><h:commandLink  class="list-group-item " value="#{group}" action="#{commentBean.doComment()}">
                                                    <f:param name="groupselect" value="#{group}"/>
                                                </h:commandLink></li>
                                        </ui:repeat>
                                    </h:form>
                                </ul>
                            </li>
                            <h:form class="navbar-form navbar-left" role="search">
                                <h:panelGroup class="form-group">
                                    <h:inputText value="#{userBean.userABuscar}" class="form-control" y:placeholder="#{msg['Buscar']}"/>
                                </h:panelGroup>
                                <h:commandButton value="#{msg['Buscar']}" class="btn btn-default" action="#{userBean.irAPanelUserBuscador()}"/>
                            </h:form>
                            <li class="nav navbar-nav navbar-right nav-padding-top">
                                <h:form id="form">
                                    <h:inputText id="token" value="#{loginBean.token}" styleClass="ocultar"/>
                                    <h:commandButton class="btn btn-default" value="Log Out" onclick="quitarPermisos()" action="#{userBean.cerrarSesion()}"/>
                                </h:form> 
                            </li>
                            <li class="nav navbar-nav nav-padding-top">
                                <div >  
                                    <h:form >
                                        <h:panelGrid columns="2"> 
                                            <h:selectOneMenu class="btn btn-default" onchange="submit()"
                                                             valueChangeListener="#{LanguageBean.localeChanged}">
                                                <f:selectItems value="#{LanguageBean.countries}" /> 
                                            </h:selectOneMenu> 

                                        </h:panelGrid> 
                                    </h:form>
                                </div>
                            </li>
                        </ul>
                    </h:panelGroup>
                </h:panelGroup>
            </nav>
            <h:panelGroup layout="block" class="container container-kiwi">
                <ui:fragment rendered="#{loginBean.token == null}">
                    <h:link outcome="login" class="btn btn-kiwi btn-logeate">Logeate</h:link>
                </ui:fragment>
                <ui:fragment rendered="#{loginBean.token!= null}">
                    <h:panelGroup layout="block" class="row">
                        <h:panelGroup layout="block" class="col-md-2">
                            <h:graphicImage value="#{loginBean.usuarioLogueado.photo}" title="avatar-kiwi" class="img-circle avatar-kiwi" width="80px"/>
                            <h3> <p class="text-center">#{loginBean.usuarioLogueado.firstname} #{loginBean.usuarioLogueado.lastname}</p></h3>
                        </h:panelGroup>
                        <h:panelGroup layout="block" class="col-md-6">
                            <h:panelGroup layout="block" class="row">
                                <h:panelGroup layout="block" class="col-md-12">
                                    <h:panelGroup layout="block" class="lista-grupo">
                                        <h:panelGroup layout="block" class="row">
                                            <h:panelGroup layout="block" class="col-md-12">
                                                <h3><h:outputText style="font-size: 120%" value="#{groupBean.group.name}"/></h3>
                                            </h:panelGroup>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" class="row">
                                            <h:panelGroup layout="block" class="col-xs-1" />
                                            <h:panelGroup layout="block" class="col-xs-10 jumbotron lista-grupo-kiwi">
                                            <f:view>
                                                <h:form>
                                                    <h:dataTable id="tablemembers" class="table" value="#{groupBean.group.members}" var="member">
                                                        <h:column>
                                                            <!-- column header -->
                                                            <f:facet name="header">#{msg['Fristname']}</f:facet>
                                                            <!-- row record -->
                                                            #{member.firstName}
                                                        </h:column>
                                                        <h:column>
                                                            <!-- column header -->
                                                            <f:facet name="header">#{msg['Lastname']}</f:facet>
                                                            <!-- row record -->
                                                            #{member.lastName}
                                                        </h:column>
                                                        <h:column>
                                                            <!-- column header -->
                                                            <f:facet name="header">#{msg['Email']}</f:facet>
                                                            <!-- row record -->
                                                            #{member.email}
                                                        </h:column>
                                                    </h:dataTable>
                                                </h:form>
                                            </f:view>
                                                </h:panelGroup>
                                            <h:panelGroup layout="block" class="col-xs-1" />
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" class="row">
                                            <h:panelGroup layout="block" class="col-md-3">
                                                <h:outputLabel >#{msg['Adduserbyemail']}:</h:outputLabel>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" class="col-md-9">
                                                <h:panelGroup layout="block" class="input-group div-foto-kiwi">
                                                    <h:form>
                                                        <h:inputText class="form-control" id="inputMember" value="#{groupBean.nameFilter}"/>
                                                        <h:panelGroup class="input-group-btn" id="sizing-addon3">
                                                            <h:commandButton class="btn btn-default" value="#{msg['Adduser']}" action="#{groupBean.addUser()}">
                                                            </h:commandButton>
                                                        </h:panelGroup>
                                                    </h:form>
                                                </h:panelGroup>
                                                <h:outputText style="color:red; font-size: 120%" value="#{groupBean.mensajeError}" />
                                            </h:panelGroup>
                                        </h:panelGroup>
                                        <h:panelGroup rendered="#{loginBean.email ne groupBean.group.owner.email}" layout="block" class="row">
                                            <h:panelGroup layout="block" class="col-md-3">
                                                <h:form>
                                                    <h:commandButton class="btn btn-default" value="#{msg['Leavegroup']}" action="#{groupBean.leaveGroup()}" />
                                                </h:form>
                                            </h:panelGroup>
                                        </h:panelGroup>
                                    </h:panelGroup>
                                </h:panelGroup>
                            </h:panelGroup>
                        </h:panelGroup>
                    </h:panelGroup>
                </ui:fragment>
            </h:panelGroup>
                        
            <footer class="footer">

                <h:panelGroup layout="block" class="container">

                    <p class="text-muted">Place sticky footer content here.</p>

                </h:panelGroup>

            </footer>

            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <h:outputScript  library="js" name="jquery-1.11.2.min.js"  />
            <!-- Latest compiled and minified JavaScript. Include all compiled plugins (below), or include individual files as needed -->
            <h:outputScript library="js" name="bootstrap.min.js" />
            <!--Para el file inputd-->
            <h:outputScript library="js" name="jquery-1.11.0.min.js" />
                    </h:panelGroup>
        </h:panelGroup>
    </h:body>
</html>

