<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:y="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">


    <h:head>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://apis.google.com/js/plusone.js" type="text/javascript"></script>
        <h:outputScript library="js" name="logout.js" />

        <!-- Latest compiled and minified CSS -->
        <h:outputStylesheet library="css" name="bootstrap.min.css" />
        <!-- Optional theme -->
        <h:outputStylesheet library="css" name="bootstrap-theme.min.css"/>
        <!-- Tema persnalizado-->
        <h:outputStylesheet library="css" name="xStyle.css" />

        <title>Fanny Template</title>

    </h:head>

    <h:body>
        <h:panelGroup layout="block" class="body">
            <h:panelGroup layout="block" class="img-kiwi-fondo">
            <nav class="navbar navbar-default navbar-kiwi navbar-fixed-top">
                <h:panelGroup layout="block" class="container">
                    <h:panelGroup layout="block" class="navbar-header">
                        <h:form>
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <h:panelGroup class="sr-only">Toggle navigation</h:panelGroup>
                                <h:panelGroup class="icon-bar"></h:panelGroup>
                                <h:panelGroup class="icon-bar"></h:panelGroup>
                                <h:panelGroup class="icon-bar"></h:panelGroup>
                            </button>
                            <h:commandLink action="#{loginBean.cargarUsuarioLogueado()}" class="navbar-brand" title="home"><p:graphicImage class="kiwi-nav" library="img" name="kiwi-home.png" title="#{msg['home']}"/></h:commandLink>
                        </h:form>
                    </h:panelGroup>
                    <h:panelGroup layout="block" id="navbar" class="navbar-collapse collapse aumentar-nav">
                        <ul class="nav navbar-nav aumentar-ul">
                            <li class="active">
                                <h:form>
                                    <h:commandLink class="navbar-brand" value="#{msg['home']}" action="#{loginBean.cargarUsuarioLogueado()}"/>
                                </h:form>   
                            </li>
                            <li><h:form><h:commandLink class="navbar-brand" value="#{msg['NewGroup']}" action="#{newGroupBean.init()}" /></h:form></li>
                            <li class="dropdown">
                                <a outcome="#" class="boton-grupos-kiwi dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">#{msg['Grupos']}<h:panelGroup class="caret"></h:panelGroup></a>
                                <ul class="dropdown-menu" role="menu">
                                    <h:form>
                                        <li><h:commandLink  class="list-group-item" value="#{msg['Privado']}" action="#{commentBean.doComment()}">
                                                <f:param name="groupselect" value="privado"/>
                                            </h:commandLink></li>
                                        <li> <h:commandLink class="list-group-item" value="#{msg['Publico']}" action="#{commentBean.doComment()}">
                                                <f:param name="groupselect" value="publico"/>
                                            </h:commandLink></li>
                                        <ui:repeat var="group" value="#{loginBean.usuarioLogueado.groupsUser}">
                                            <li><h:commandLink  class="list-group-item " value="#{group}" action="#{commentBean.doComment()}">
                                                    <f:param name="groupselect" value="#{group}"/>
                                                </h:commandLink></li>
                                        </ui:repeat>
                                    </h:form>
                                </ul>
                            </li>
                            <h:form class="navbar-form navbar-left" role="search">
                                <h:panelGroup class="form-group">
                                    <h:inputText value="#{userBean.userABuscar}" class="form-control" y:placeholder="#{msg['Buscar']}"/>
                                </h:panelGroup>
                                <h:commandButton value="#{msg['Buscar']}" class="btn btn-default" action="#{userBean.irAPanelUserBuscador()}"/>
                            </h:form>
                            <li class="nav navbar-nav navbar-right nav-padding-top">
                                <h:form id="form">
                                    <h:inputText id="token" value="#{loginBean.token}" styleClass="ocultar"/>
                                    <h:commandButton class="btn btn-default" value="Log Out" onclick="quitarPermisos()" action="#{userBean.cerrarSesion()}"/>
                                </h:form> 
                            </li>
                            <li class="nav navbar-nav nav-padding-top">
                                <div >  
                                    <h:form >
                                        <h:panelGrid columns="2"> 
                                            <h:selectOneMenu class="btn btn-default" onchange="submit()"
                                                             valueChangeListener="#{LanguageBean.localeChanged}">
                                                <f:selectItems value="#{LanguageBean.countries}" /> 
                                            </h:selectOneMenu> 

                                        </h:panelGrid> 
                                    </h:form>
                                </div>
                            </li>
                        </ul>
                    </h:panelGroup>
                </h:panelGroup>
            </nav>

            <h:panelGroup layout="block" class="container container-kiwi">
                <ui:fragment rendered="#{loginBean.token == null}">
                    <h:link outcome="login" class="btn btn-kiwi btn-logeate">Logeate</h:link>
                </ui:fragment>
                <ui:fragment rendered="#{loginBean.token!= null}">
                    <h:panelGroup layout="block" class="row">
                        <h:panelGroup layout="block" class="col-md-2">
                            <h:graphicImage value="#{loginBean.usuarioLogueado.photo}" title="avatar-kiwi" class="img-circle avatar-kiwi" width="80px"/>
                            <h3> <p class="text-center">#{loginBean.usuarioLogueado.firstname} #{loginBean.usuarioLogueado.lastname}</p></h3>
                        </h:panelGroup>
                        <h:panelGroup layout="block" class="col-md-6">
                            <h:panelGroup layout="block" class="row">
                                <h:panelGroup layout="block" class="col-md-12">
                                    <h:panelGroup layout="block" class="jumbotron-kiwi">
                                        <h:form>
                                            <h:inputTextarea id="desc" class="textarea-kiwi" y:placeholder="#{msg['hoy']}" value="#{commentBean.description}" required="true" requiredMessage="#{msg['campoobligatorio']}"/>
                                            <h:message for="desc" class="error"></h:message>
                                            <h:panelGroup layout="block" class="input-group">
                                                <h:panelGroup class="input-group-addon" id="sizing-addon2">#{msg['Video']}</h:panelGroup>                                              
                                                <h:inputText id="VideoYotube" class="form-control" value="#{commentBean.video}" y:placeholder="#{msg['Videoyutube']}" >
                                                    <f:validator validatorId="com.kiwi.VideoValidate"/>
                                                </h:inputText>   
                                            </h:panelGroup>
                                            <h:message for="VideoYotube" class="error"></h:message>
                                            <h:panelGroup layout="block" class="input-group div-foto-kiwi">
                                                <h:panelGroup class="input-group-addon" id="sizing-addon3">#{msg['Imagen']}</h:panelGroup>
                                                <h:inputText class="form-control"  value="#{commentBean.photo}" />
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" class="row">
                                                <h:panelGroup  layout="block" class="col-md-6">                  
                                                    <h:selectOneMenu  class="form-control btn-kiwi btn-select-kiwi" value="#{commentBean.tipo}" required="true">
                                                        <f:selectItem itemLabel="#{msg['Publico']}" itemValue="publico" />
                                                        <f:selectItem itemLabel="#{msg['Privado']}" itemValue="privado" />
                                                        <f:selectItems var="group"  value="#{loginBean.usuarioLogueado.groupsUser}" itemLabel="#{group}" itemValue="#{group}" />
                                                    </h:selectOneMenu> 
                                                </h:panelGroup>
                                                <h:panelGroup layout="block" class="col-md-6">
                                                    <h:commandButton class="btn btn-lg btn-info btn-kiwi btn-twit-kiwi" value="Kiwitear" action="#{commentBean.createComment()}"/>
                                                </h:panelGroup>
                                            </h:panelGroup>
                                        </h:form>
                                    </h:panelGroup>
                                </h:panelGroup>
                            </h:panelGroup>
                            <h:panelGroup layout="block" class="row">
                                <h:panelGroup layout="block" class="col-md-12">
                                    <h:panelGroup layout="block" class="jumbotron-kiwi" style="margin-top: 10px;">
                                        <ul class="lista-kiwi">
                                            <ui:repeat value="#{commentBean.comments}" var="comment">
                                                <li>
                                                    <h:panelGroup layout="block" class="row">
                                                        <h:panelGroup layout="block" class="col-md-2">
                                                            <p:graphicImage value="#{comment.userPhoto}" title="avatar-kiwi" class="img-circle avatar-kiwi mini" />
                                                            <h:form>
                                                                <h:commandLink action="#{userBean.irAPanelUser(comment.ownerEmail)}" value="#{comment.username}" />
                                                            </h:form>   
                                                        </h:panelGroup>
                                                        <h:panelGroup layout="block" class="col-md-10 comentarios-kiwi left">
                                                            <h:panelGroup layout="block" class="row">
                                                                <h:panelGroup layout="block" class="col-md-12">
                                                                    <h:outputText value="#{comment.fecha}" />
                                                                    <ui:fragment rendered="#{loginBean.email == comment.ownerEmail}">
                                                                        <h:panelGroup layout="block" style="float: right">
                                                                            <h:form>
                                                                                <h:commandLink class="borrarComent" value="#{msg['Borrar']}" action="#{commentBean.borrarComentario}">
                                                                                    <f:setPropertyActionListener target="#{commentBean.commentRemove}" value="#{comment}"/> 
                                                                                </h:commandLink>
                                                                            </h:form>
                                                                        </h:panelGroup>
                                                                    </ui:fragment>
                                                                </h:panelGroup>
                                                            </h:panelGroup>
                                                            <h:panelGroup layout="block" class="row">
                                                                <h:panelGroup layout="block" class="col-md-12">
                                                                    <p>#{comment.description}</p>
                                                                </h:panelGroup>
                                                            </h:panelGroup>
                                                            <ui:fragment rendered="#{loginBean.email != comment.ownerEmail and !commentBean.rekiwited(comment)}">
                                                                <h:panelGroup layout="block" class="row">
                                                                    <h:panelGroup layout="block" class="col-xs-6" style="float: right">
                                                                        <h:form>
                                                                            <h:panelGroup layout="block" class="row">
                                                                                <h:panelGroup layout="block" class="col-xs-6">
                                                                                    <h:selectOneMenu  class="form-control btn-kiwi btn-select-kiwi btn-select-rekiwi" value="#{commentBean.reKiwitearIn}" required="true" >
                                                                                        <f:selectItem itemLabel="#{msg['Publico']}" itemValue="publico" />
                                                                                        <f:selectItem itemLabel="#{msg['Privado']}" itemValue="privado" />
                                                                                        <f:selectItems var="group"  value="#{loginBean.usuarioLogueado.groupsUser}" itemLabel="#{group}" itemValue="#{group}" />
                                                                                    </h:selectOneMenu> 
                                                                                </h:panelGroup>
                                                                                <h:panelGroup layout="block" class="col-md-6">
                                                                                    <h:commandButton action="#{commentBean.rekiwitear()}" value="Rekiwitear" class="btn-kiwi btn-retwit-kiwi">
                                                                                        <f:setPropertyActionListener target="#{commentBean.commentRekiwited}" value="#{comment}" />
                                                                                    </h:commandButton>
                                                                                </h:panelGroup>
                                                                            </h:panelGroup>
                                                                        </h:form>
                                                                    </h:panelGroup>
                                                                </h:panelGroup>
                                                            </ui:fragment>
                                                            <ui:fragment rendered="#{comment.photo != null}">
                                                                <h:panelGroup layout="block" class="row">
                                                                    <h:panelGroup layout="block" class="col-md-12">
                                                                        <h:graphicImage url="#{comment.photo}" height="100%" width="50%"/>
                                                                    </h:panelGroup>
                                                                </h:panelGroup>
                                                            </ui:fragment>
                                                            <ui:fragment rendered="#{comment.video != null}">
                                                                <h:panelGroup class="row">
                                                                    <h:panelGroup layout="block" class="col-md-12">
                                                                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/#{comment.video}" frameborder="0" allowfullscreen="true"></iframe>
                                                                    </h:panelGroup>
                                                                </h:panelGroup>
                                                            </ui:fragment>
                                                        </h:panelGroup>
                                                    </h:panelGroup>
                                                </li>
                                            </ui:repeat>
                                        </ul>
                                    </h:panelGroup>
                                </h:panelGroup>
                            </h:panelGroup>
                        </h:panelGroup>
                        <h:panelGroup layout="block" class="col-md-4">
                            <h:panelGroup layout="block" class="list-group">
                                <h:form>
                                    <h:commandLink class="list-group-item active" value="#{msg['Grupos']}" >

                                    </h:commandLink>
                                    <h:commandLink  class="list-group-item" value="#{msg['Privado']}" action="#{commentBean.doComment()}">
                                        <f:param name="groupselect" value="privado"/>
                                    </h:commandLink>
                                    <h:commandLink class="list-group-item" value="#{msg['Publico']}" action="#{commentBean.doComment()}">
                                        <f:param name="groupselect" value="publico"/>
                                    </h:commandLink>
                                    <ui:repeat var="group" value="#{loginBean.usuarioLogueado.groupsUser}">
                                        <h:panelGroup layout="block" class="input-group">
                                            <h:commandLink  class="list-group-item" value="#{group}" action="#{commentBean.doComment()}">
                                                <f:param name="groupselect" value="#{group}"/>
                                            </h:commandLink>
                                            <h:panelGroup class="input-group-btn">
                                                <h:commandLink class="btn btn-default info-kiwi" value="Info" action="#{groupBean.cargarGrupo()}">
                                                <f:param name="groupselect" value="#{group}"/>
                                                </h:commandLink>
                                            </h:panelGroup>
                                        </h:panelGroup>
                                    </ui:repeat>
                                </h:form>
                            </h:panelGroup>
                            <h:form>
                                <h5 style="margin-bottom:10px">
                                    <h:outputText value="#{msg['Siguiendo']}"/>
                                </h5>
                                <p:selectOneListbox  label="aaa" id="advanced" value="#{userBean.userSelected}" filter="true" filterMatchMode="contains" y:placeholder="aaaaa">
                                    <f:selectItems value="#{loginBean.usuarioLogueado.followings}" var="followings" itemLabel="#{followings.firstName}" itemValue="#{followings.email}" />
                                </p:selectOneListbox>
                                <p:commandButton value="Ir a perfil" action="#{userBean.irASeguidor()}" oncomplete="PF('dlg').show()" icon="ui-icon-check" style="margin-top:10px"/>
                            </h:form>
                        </h:panelGroup> 
                    </h:panelGroup>
                </ui:fragment>
                
                

            </h:panelGroup>

            <footer class="footer">

                <h:panelGroup layout="block" class="container">

                    <p class="text-muted">Place sticky footer content here.</p>

                </h:panelGroup>

            </footer>

            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <h:outputScript  library="js" name="jquery-1.11.2.min.js"  />
            <!-- Latest compiled and minified JavaScript. Include all compiled plugins (below), or include individual files as needed -->
            <h:outputScript library="js" name="bootstrap.min.js" />
            <!--Para el file inputd-->
            <h:outputScript library="js" name="jquery-1.11.0.min.js" />
            </h:panelGroup>
        </h:panelGroup>
    </h:body>
</html>
