<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" /> 
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://apis.google.com/js/plusone.js" type="text/javascript"></script>
        <h:outputScript library="js" name="login.js" />

        <!-- Latest compiled and minified CSS -->
        <h:outputStylesheet library="css" name="bootstrap.min.css" />
        <!-- Optional theme -->
        <h:outputStylesheet library="css" name="bootstrap-theme.min.css"/>
        <!-- Tema persnalizado-->
        <h:outputStylesheet library="css" name="xStyle.css" />
        <h:outputStylesheet library="css" name="logIn.css" />

        <title>Fanny Template LogIn</title>

    </h:head>
    <h:body>
        <h:panelGroup layout="block" class="body">
            <h:panelGroup layout="block" class="img-kiwi-fondo">
            <nav class="navbar navbar-default navbar-kiwi navbar-fixed-top">
                <h:panelGroup layout="block" class="container">
                    <h:panelGroup layout="block" class="navbar-header">
                        <h:form>
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <h:panelGroup class="sr-only">Toggle navigation</h:panelGroup>
                                <h:panelGroup class="icon-bar"></h:panelGroup>
                                <h:panelGroup class="icon-bar"></h:panelGroup>
                                <h:panelGroup class="icon-bar"></h:panelGroup>
                            </button>
                            <h:link class="navbar-brand" outcome="index-fanny" title="home"><p:graphicImage library="img" name="kiwi-home.png" title="kiwi home" class="logo-home-kiwi" /></h:link>
                        </h:form>
                    </h:panelGroup>
                    <h:panelGroup layout="block" id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="navbar-brand active"><a href="#">#{msg['home']}</a></li>
                            <li><h:form><h:commandLink class="navbar-brand active" value="#{msg['About']}"></h:commandLink></h:form></li>                        
                            <li class="nav navbar-nav nav-padding-top">
                                <div >  
                                    <h:form >
                                        <h:panelGrid columns="2"> 
                                            <h:selectOneMenu class="btn btn-default" onchange="submit()"
                                                              valueChangeListener="#{LanguageBean.localeChanged}">
                                                <f:selectItems value="#{LanguageBean.countries}" /> 
                                            </h:selectOneMenu> 

                                        </h:panelGrid> 
                                    </h:form>
                                </div>
                            </li>
                        </ul>
                    </h:panelGroup><!--/.nav-collapse -->
                </h:panelGroup>
            </nav>

            <h:panelGroup layout="block" class="container  bg-clouds">
                <h:panelGroup layout="block" class="row">
                    <h:panelGroup layout="block" class="col-md-12 btn-log-kiwi">
                        <h:form id="form">
                            <h:inputText id="email" value="#{loginBean.email}" styleClass="login"/>
                            <h:inputText id="firstName" value="#{loginBean.firstName}" styleClass="login"/>
                            <h:inputText id="lastName" value="#{loginBean.lastName}" styleClass="login"/>
                            <h:inputText id="photo" value="#{loginBean.photo}" styleClass="login"/>
                            <h:inputText id="token" value="#{loginBean.token}" styleClass="login"/>
                            <h:commandButton id="buttonLog" action="#{loginBean.login()}" styleClass="login"/>
                        </h:form>
                        <h:panelGroup id="signinButton">
                            <span
                                class="g-signin"
                                data-approvalprompt="force"
                                data-callback="signinCallback"
                                data-clientid="371428354364-osrhkim1u567175ee9v1m1057tj3vslr.apps.googleusercontent.com"
                                data-cookiepolicy="single_host_origin"
                                data-requestvisibleactions="http://schemas.google.com/AddActivity"
                                data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email">
                            </span>
                        </h:panelGroup>
                    </h:panelGroup>
                </h:panelGroup>
                <h:panelGroup layout="block" class="row">
                    <h:panelGroup layout="block" class="col-md-10">
                        <h:panelGroup layout="block" id="clouds">
                            <h:panelGroup layout="block" class="cloud x1"></h:panelGroup>
                            <!-- Time for multiple clouds to dance around -->
                            <h:panelGroup layout="block" class="cloud x2"></h:panelGroup>
                            <h:panelGroup layout="block" class="cloud x3"></h:panelGroup>

                            <h:panelGroup layout="block" class="cloud x4"></h:panelGroup>
                            <h:panelGroup layout="block" class="cloud x8"></h:panelGroup>
                            <h:panelGroup layout="block" class="cloud x1"></h:panelGroup>
                            <!-- Time for multiple clouds to dance around -->
                            <h:panelGroup layout="block" class="cloud x2"></h:panelGroup>
                            <h:panelGroup layout="block" class="cloud x7"></h:panelGroup>

                            <h:panelGroup layout="block" class="cloud x6"></h:panelGroup>
                            <h:panelGroup layout="block" class="cloud x5"></h:panelGroup>
                        </h:panelGroup>
                    </h:panelGroup>
                </h:panelGroup>

            </h:panelGroup>

</h:panelGroup>
            <footer class="footer">

                <h:panelGroup layout="block" class="container">

                    <p class="text-muted">Esto no esta pagado... .</p>

                </h:panelGroup>

            </footer>

            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="resources/js/jquery-1.11.2.min.js"></script>
            <!-- Latest compiled and minified JavaScript. Include all compiled plugins (below), or include individual files as needed -->
            <script src="resources/js/bootstrap.min.js"></script>
            <!--Para el file input-->
            <script src="resources/js/jquery-1.11.0.min.js"></script>
            
        </h:panelGroup>
    </h:body>
</html>