/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-feb-2015, 19:00:41
    Author     : Blackproxy
*/
.label-name{
    color: white;
    font-size: 120%;
}
.botones-flecha{
    margin-left: 20%;
}

.lista-grupo-kiwi{
    background-color: honeydew;
}

.listas{
    height: 100px !important;
}

.btn-create-group{
    width:30%;
}

.lista-grupo{
    
	background-color: #B9DA72;
	width:100%;
	padding-right:30px;
	padding-left:30px;
	border-radius:6px;
	padding:30px 15px;
}