.body {
	padding-top: 70px;
	padding-bottom: 60px;
	background-color: honeydew;
        height: 100vh;
}

.img-kiwi-fondo{
    background-image: url(../resources/img/kiwi-alone.png);
background-repeat: no-repeat;
background-position: bottom left;
}


.bg-kiwi{
margin-top: -250px;
}
.navbar-kiwi {
	background-image: -webkit-linear-gradient(top,#cdeb8e 0,#a5c956 100%);
	background-image: -o-linear-gradient(top,#cdeb8e 0,#a5c956 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#cdeb8e),to(#a5c956));
	background-image: linear-gradient(to bottom,#cdeb8e 0,#a5c956 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cdeb8e', endColorstr='#a5c956', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-logeate{
    margin-top: 170px !important;
}

.boton-grupos-kiwi{
    font-size: 18px;
    margin-left: -14px;
}

.info-kiwi{
    height: 42px;
padding-top: 9px;
}

.btn-home-kiwi{
    font-size: 14px;
}
.adjunto-kiwi{
 
    margin-top: 5px;

}
.navbar-kiwi .navbar-brand {
	display: block;
	line-height: 50px;
	padding: 0 15px;
}

ul{
    list-style-type: none;
}

.navbar-kiwi .navbar-brand .logo {
	display: inline-block;
}

/* FANNY ARREGLA ESTOS COLORES */
.navbar-kiwi .navbar-nav>.active>a,
.navbar-kiwi .navbar-nav>.active>a:focus,
.navbar-kiwi .navbar-nav>.active>a:hover {
	color: #8b6b44;
	background-color: #e7e7e7;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
}

.jumbotron-kiwi{
	background-color: #66aa61;
	width:100%;
	padding-right:30px;
	padding-left:30px;
	border-radius:6px;
	padding:30px 15px;
}

.textarea-kiwi{
	padding:25px;
	border-radius:15px;
	height:50%;
	width:100%;
}

.btn-kiwi{
	border-color:#c79242;
	background-image:none;
	background-color:#c79242;
	color:#fff;
	font-size:18px;
	margin-top:5px;
	text-shadow:none;
	width:50%;
}

.btn-twit-kiwi{
	margin-left: 35%;
	height: 35px;
	padding:0 0;
}

.btn-retwit-kiwi{
	height: 20px;
	padding:0 0;
        font-size: 12px;
        float: right;
        width: 100%
}
.btn-select-rekiwi{
	height: 20px !important;
        width: 105% !important;
    font-size: 12px;
    float: right;
}

.btn-select-kiwi{
	width:100%;
}

.btn-kiwi:focus, .btn-kiwi:hover{
	background-color:green;
	color:#fff;
}

.avatar-kiwi{
	margin-left:25%;
	width:80px;
}

.avatar-kiwi.mini{
width:40px;
}

.error{
    color: white;
}

.div-foto-kiwi{
    margin-top:5px;
}
.btn-file {
	width:100%;
	height: 34px;
	margin-top:5px;
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100% !important;
	min-height: 100% !important;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	background: red;
	cursor: inherit;
	display: block;
}
input[readonly] {
	margin-top:5px;
	background-color: white !important;
	cursor: text !important;
}

.comentarios-kiwi {
  background: #FFF;
  border: 5px solid #5A8F00;
  color: #333;
  padding: 15px;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  width: 75%;
}

.comentarios-kiwi:before{
  border: 20px solid transparent;
  border-top-color: #5A8F00;
  bottom: -40px;
  content: "\00a0";
  display: block;
  height: 0;
  left: 40px;
  position: absolute;
  width: 0;
}
.comentarios-kiwi:after {
  border: 13px solid transparent;
  border-top-color: #FFF;
  bottom: -26px;
  content: "\00a0";
  display: block;
  left: 47px;
  position: absolute;
  height: 0;
  width: 0;
}

.comentarios-kiwi.left{
margin-left:30px;
}

.comentarios-kiwi.left:before{
  border-width: 15px 30px;
  border-style: solid;
  border-color: transparent #5A8F00 transparent transparent;
  bottom: auto;
  left: -60px;
  top: 10px;
}

.comentarios-kiwi.left:after{
 border-width: 9px 21px;
  border-style: solid;
  border-color: transparent #FFF transparent transparent;
  bottom: auto;
  left: -42px;
  top: 16px;
}

.fecha-kiwi{
	color:grey;
}

.ocultar{
    display:none;
}

.aumentar-nav{
    width: 1200px;
}

.aumentar-ul{
    width: 1050px;
}

.kiwi-nav{
    padding-top: 5px;
}

.nav-padding-top{
    padding-top: 8px;
}

.nav-padding-left{
    padding-left: 5px;
}

.inline{
    display: inline;
}
.borrarComent {
    text-decoration:none;
    color: green;
    font: 14px "Trebuchet MS";
}
